div.txt_size {
    font-size: 17px;
    /* text-indent: 5%; */
}



.carousel-inner > .item {
  height: 50vh;
  background: no-repeat;
}

.carousel-inner > .item > img {

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -51%);
  max-height: 800px;
  width: auto;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
