<!DOCTYPE html>
<html lang="en">
<head>
  <title>Experimental video analysis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h3>Experiment about Quality of Servie(QoS), Quality of Experience(QoE) and recommendations</h3>
    <p>Welcome to our brief experiment on quality-of-experience.</p>
    <p> In this experiment, you will watch movie sessions, and after each session, comprising a pair of movies, you will be asked to assess which movie of the pair you preferred the most.</p>
    <p>Some disturbances may occur in the middle of the streaming of some movies. They were inserted on purpose.</p>
    <p> The experiment will take around 5 minutes.</p>
    <p>The experiment works on Mozilla Firefox and Google Chrome, but NOT on Safari.</p>
    <p> Please, do not hesitate to contact us in case of any questions: Mateus Schulz <a href="">mateussnogs@gmail.com</a> and Daniel Sadoc <a href="">sadoc@dcc.ufrj.br</a></p>
  </div>
  <div class='container'>
      <div class="row">
        <div class="col-md-10 text-center">
          {%comment%}<h1><a href="{% url 'video_sessions:video_sessions' session_num=8 video_num=1 session_announced=0 english='en' %}" class="btn btn-primary btn-lg">Start experiment</a></h1>{%endcomment%}
          <h1><a href="{% url 'core:en_categories' english='en'%}" class="btn btn-primary btn-lg btn btn-primary btn btn-success">Start experiment</a></h1>
        </div>
      </div>
  </div>
</div>

</body>
</html>
