<!DOCTYPE html>
<html lang="en">
<head>
  <title>Análise experimental de vídeos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Análise experimental de vídeos</h1>
    <p>Olá! Seja bem-vindo ao nosso breve experimento.</p>
    <p>Nesse experimento você irá assistir sessões de vídeos, e em cada sessão você deverá avaliar o vídeo preferido dentre dois possíveis.</p>
    <p>Alguns distúrbios de qualidade podem ocorrer durante a reprodução de alguns vídeos, porém foram inseridos propositalmente. </p>
    <p>O experimento irá durar em torno de 5 minutos.</p>
    <p>Esse experimento não funciona corretamente no navegador Safari, porém foi testado com êxito no Mozilla Firefox e Chrome.</p>
  </div>
  <div class='container'>
      <div class="row">
        <div class="col-md-6">
          {%comment%}<h1><a href="{% url 'video_sessions:video_sessions' session_num=session_num_view video_num=1 session_announced=0 english='' %}" class="btn btn-primary btn-lg">Iniciar experimento</a></h1>{%endcomment%}
          <h1><a href="{% url 'core:categories' %}" class="btn btn-primary btn-lg">Iniciar experimento</a></h1>
        </div>
        <div class="col-md-6">
          <h1><a href="{% url 'core:en_index' %}" class="btn btn-primary btn-lg">English Version</a></h1>
        </div>
      </div>
  </div>
</div>

</body>
</html>
